@model IEnumerable<WebAccountantApp.Models.TransactionVM>

@{
    ViewData["Title"] = "Index";
}

<style>
        @*If debit account is being debited means its an income*@
        tr#transactions[data-content="@WebAccountantApp.Data.AccountType.Debit"] {
            background-color: #C1FEBA;
        }
        @*If credit account is being debited means a loan is being paid, good thing*@
        tr#transactions[data-content="@WebAccountantApp.Data.AccountType.Credit"] {
            background-color: #CDFDF4;
        }
        @*If expense account is being debited then its an expense, obvios*@
        tr#transactions[data-content="@WebAccountantApp.Data.AccountType.Expense"] {
            background-color: #FFB3AA;
        }

</style>


@await Component.InvokeAsync("CreateTransaction")


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Debit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Credit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="transactions" data-content="@item.Debit.AccountType">
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Debit.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Credit.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id" onclick="return confirm('Are you sure you want to delete this transaction?')">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
