@model WebAccountantApp.Models.AccountsVM

@{
    ViewData["Title"] = "Index";
}

@await Component.InvokeAsync("CreateAccount")


<h3>Debit Accounts</h3>
<table class=" table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DebitAccounts.Single().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DebitAccounts.Single().Value)
            </th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.DebitAccounts)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @Math.Round(item.Value, 2)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id"
                       onclick="return confirm('Are you sure you want to delete this account?')">
                        Delete
                    </a>
                </td>
            </tr>
        }
    <tr class="@(Model.TotalDebitValue < 0 ? "bg-danger" : "bg-success" )">
        <td>@Html.DisplayNameFor(model => model.TotalDebitValue)</td>
        <td>@Model.TotalDebitValue</td>
        <td></td>
    </tr>
    </tbody>
</table>


<h3>Credit Accounts</h3>

<table class=" table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreditAccounts.Single().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreditAccounts.Single().Value)
            </th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.CreditAccounts)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Value
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id"
                       onclick="return confirm('Are you sure you want to delete this account?')">
                        Delete
                    </a>
                </td>
            </tr>
        }
        <tr class="@(Model.TotalDebitValue > 0 ? "bg-danger" : "bg-success" )">
            <td>@Html.DisplayNameFor(model => model.TotalCreditValue)</td>
            <td>@Model.TotalCreditValue</td>
            <td></td>
        </tr>
    </tbody>
</table>

<h3>Income and Expense Accounts</h3>

<table id="tblData" class=" table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ExpenseAndIncomeAccounts.Single().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpenseAndIncomeAccounts.Single().Value)
            </th>

            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.ExpenseAndIncomeAccounts)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Value
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>  |
                    <a asp-action="Delete" asp-route-id="@item.Id"
                       onclick="return confirm('Are you sure you want to delete this account?')">
                        Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
